h1 {
  text-align: center;
  margin: auto;
  font-size: 100px;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}
.hidden {
  display: none;
}
.square {
  width: 150px;
  height: 150px;
  background-color: aliceblue;
  margin: auto;
  padding: auto;
  border: 1px solid purple;
}

#game-box {
  width: 475px;
  height: 475px;
  background-color: blue;
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 6%;
}

#score-box {
  display: flex;
  flex-direction: row;
  background-color: blue;
  height: 200px;
  width: 475px;
}
.player {
  background-color: aliceblue;
  width: 230px;
  height: 180px;
  margin: auto;
  padding: auto;
}
/* #message {
} */
.center {
  text-align: center;
  justify-content: center;
  align-items: center;
  margin: auto;
}
button {
  text-align: center;
  background-color: #20b627;
  border: 3px solid forestgreen;
  color: white;
  padding: 13px 25px;
  /* text-align: center; */
  text-decoration: none;
  display: inline-block;
  font-size: 18px;
  margin: 8px;
  cursor: pointer;
  transition-duration: 0.4s;
  font-family: Georgia, "Times New Roman", Times, serif;
}
button:hover {
  box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24),
    0 17px 50px 0 rgba(0, 0, 0, 0.19);
}
